/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './base/_base';
@import './base/_container';
@import './utils/_variables';
@import './utils/_mixins';


