<main class="movie-modal-id" id="main">
  <section class="main-section">
    <div class="container">
      <div class="library visually-hidden">
        <p>Oops! It's empty for now. Create your own list</p>
      </div>

      <!-- <ul class="film-list"></ul> -->

      <!--  <form class="search-form" id="search-form">
        <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
        <button type="submit">Search</button>
      </form>-->

      <div class="movie"></div>
      <!-- <button class="prev-click" type="button">Назад</button> -->
      <div class="movie-pogination"></div>
      <!-- <button class="next-click" type="button">Вперед</button> -->

      <button type="button" class="btn-to-top" title="Return to top">
        <span class="material-icons">arrow_upward</span>
      </button>

    </div>
  </section>
</main>

