<section class="pagination-container">
  <button class="btn-container" id="prevBtn"><embed src="./images/arrow-left.svg" /></button>
  <ul class="list-number-page" id="paginationList">
    <li class="list-number current-page">1</li>
    <li class="list-number"><span>...</span></li>
    <li class="list-number">3</li>
    <li class="list-number">4</li>
    <li class="list-number">5</li>
    <li class="list-number">6</li>
    <li class="list-number">7</li>
    <li class="list-number">...</li>
    <li class="list-number">8</li>
  </ul>
  <button class="btn-container" id="nextBtn"><embed src="./images/arrow-right.svg" /></button>
</section>
