
@media screen and (max-width:323px){
  .header{
    background: linear-gradient(rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)),
    url(../images/img/header-bg@mobile.jpg);
  }

  .lib {
    background: linear-gradient(rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)),
    url(../images/img-library/header-library-bg@mobile.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
  }

}


@media screen and (min-width:323px){
  .header{
    background: linear-gradient(rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)),
    url(../images/img/header-bg@tablet.jpg);
  }

  .lib{
    background: linear-gradient(rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)),
    url(../images/img-library/header-library-bg@tablet.jpg);
    max-width: 100%;
    height: 100%;
    background-size: cover;

  }
 
}


.header{
     
          max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 45px;
    padding-bottom: 90px;

    &__nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      align-items: center;

    }

    
}

.lib {
  height: 100%;
}

.nav__list{
  display: flex;
  list-style: none;

      &-text{
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 12px;
      color: var(--text-color);

      &:hover, &:focus{
        color: var(--hover-color); 
      }
    }

    .current-page {
      color: var(--hover-color);
    }
    
    .current-page::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: var(--hover-color);
      margin: 0 auto;
      opacity: 1;
      border-radius: 2px;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }

  

   


    &-item:not(:last-child){
      margin-right: 40px;
    }

}


  .logo{
    display: flex;
    align-items: center;
  }
    



  .logo__icon-wrapper{
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  .logo__text{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:30px;
    line-height: 1.2;
    color: var(--logo-color);
    display: none;
  }



.search__input{
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--text-color);
  width: 280px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color:  var(--logo-color);
 
}

.search__btn{
  background-color: inherit;
  border: none;
}

.search__icon{
  height: 12px;
  width: 12px;
  background-position: center;
  fill: var(--text-color);
  margin-left: -12px
  
}

.header__search{
  display: flex;
  justify-content: center;
}

.search-form{
  display: flex;
  justify-content: space-between;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
 
  .header{
    background: linear-gradient(rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)),
    url(../images/img/header-bg@desctop.jpg );
    padding-top: 49px;
    padding-bottom: 80px;
    background-position: center;
    background-repeat: no-repeat;

  }
 

  .lib {
    background: linear-gradient(rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)),
    url(../images/img-library/header-library-bg@desctop.jpg );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
   }
    
   

  .logo__text{
    display: inline;
  }

  .search__input{
    width: 336px;
    
  }

  
}


  



@media screen and (min-width: 1024px) {
  .header{
    

    background: linear-gradient( rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/img/header-bg@desctop.jpg);

    background-position: center;
    background-repeat: no-repeat;
  }

 .lib {
  background: linear-gradient(rgba(0, 0, 0, 0.56),
  rgba(0, 0, 0, 0.56)),
  url(../images/img-library/header-library-bg@desctop.jpg );
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
 }
    

}


// LIBRARY

.library__btn{
  display: flex;
  justify-content: center;
  margin-top: -25px;
  &-item{
    width: 129.53px;
    height: 44px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;

    &:hover{
      background-color: var(--hover-color);
    }
    &:not(:last-child){
      margin-right: 20px;
    }

  }
}
