h2, p, ul
{
    padding: 0;
    margin: 0;
}
.movie-modal-id {
    padding: 35px 0px 35px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  
    @media screen and (min-width: 320px) {
      width: 310px;
    }
  
    @media screen and (min-width: 768px) {
      width: 646px;
    }
  
    @media screen and (min-width: 1024px) {
      width: 912px;
    }
  }

.movie{
    /* display: flex;
    flex-wrap: wrap; */
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
}

.movie-item{
    display: block;
    font-style: normal;
    text-decoration: none;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    min-height: 449px;
    min-width: 309px;
    margin: 15px;
    margin-bottom: 32px;
    transition: 500ms linear;
    border-radius: 5px;
    flex-basis: calc(33.33333% - 30px);
  &:hover,
  &:focus {
    transform: scale(1.08);
    transform-origin: center;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  @media screen and (min-width: 768px) {
    min-width: 293px;
    min-height: 440px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1024px) {
    min-width: 274px;
    flex-basis: calc((100% - 6 * 15px) / 3);
  }

}

/* .movie-item:nth-child(3n+3){
    margin-right: 0;
} */

.movie-title{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    padding: 5px 5px 0px 5px;
    color: #000000;
}

.movie-img{
  /*   height: 449px;
    width: 309px;
    border-radius: 5px; */
    width: 100%;
  max-height: 402px;
  @media screen and(min-width: 768px) {
    min-height: 398px;
  }
}

.movie-blok-info{
    display: flex;
    font-family: 'Roboto', sans-serif;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    padding: 5px;
    color: #FF6B08;
}

.movie-blok-info li{
    list-style: none;
}

.movie-vote_average{
    align-items: center;
    border-radius: 5px;
    padding: 1px 9px 1px 10px;
    height: 16px;
    background-color: #FF6B01;
    color: #ffffff;
}

.movie-year{
    margin-right: 8px;
}

// *******************
.activ-btn {
    background-color: #FF6B01;
}

.movie-pogination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.movie-pogination button {
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    margin: 2px;
    margin-bottom: 20px;
}